.navbar-light .navbar-nav .nav-link {
	color: white;
}
.navbar-light .navbar-brand {
	color: white;
}
.profile-pic1 img{
 
    height: 250px;
    width: 250px;
    background-size: cover;
    
}



.profile-pic1 div {
    display: inline-block;
}
.profile-pic img{
 
    height: 150px;
    width: 150px;
    background-size: cover;
}



.profile-pic div {
    display: inline-block;
  }

form input[type="file"] {
          display: none;
          cursor: pointer;
 }
.editbutton{
	background-color: #ffc107;
	color: black;
	border-radius: 3px;
	padding: 3px 6px;
	cursor: pointer;
	font-size: 16px;
}
.profile-photo {
 
    max-height: 150px;
    max-width: 150px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    vertical-align: middle;
    text-align: center;
    color: transparent;
    transition: all .3s ease;
    text-decoration: none;
    cursor: pointer;
}
 .range-slider {
	 width: 100%;
}
 .range-slider__range {
	 -webkit-appearance: none;
	 width: calc(87% - (73px));
	 height: 5px;
	 border-radius: 5px;
	 background: #d7dcdf;
	 outline: none;
	 padding: 0;
	 margin: 0;
}
 .range-slider__range::-webkit-slider-thumb {
	 appearance: none;
	 width: 20px;
	 height: 20px;
	 border-radius: 50%;
	 background: #2c3e50;
	 cursor: pointer;
	 transition: background 0.15s ease-in-out;
}

 .range-slider__range::-moz-range-thumb {
	 width: 20px;
	 height: 20px;
	 border: 0;
	 border-radius: 50%;
	 background: #2c3e50;
	 cursor: pointer;
	 transition: background 0.15s ease-in-out;
}

 .range-slider__value {
	 display: inline-block;
	 position: relative;
	 width: 60px;
	 color: #fff;
	 line-height: 20px;
	 text-align: center;
	 border-radius: 3px;
	 background: #2c3e50;
	 padding: 5px 10px;
	 margin-left: 8px;
}
 .range-slider__value:after {
	 position: absolute;
	 top: 8px;
	 left: -7px;
	 width: 0;
	 height: 0;
	 border-top: 7px solid transparent;
	 border-right: 7px solid #2c3e50;
	 border-bottom: 7px solid transparent;
	 content: '';
}
 ::-moz-range-track {
	 background: #d7dcdf;
	 border: 0;
}
 input::-moz-focus-inner, input::-moz-focus-outer {
	 border: 0;
}
.modal-header{
	background-color: #007bff;
	color: white;
	font-family: 'Roboto', sans-serif;
}
.profile-photo span {
    display: inline-block;
  
}